.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
}


.sub-question {
    margin-bottom: 2em;
}


.next-button {
    background-color: rgb(79, 79, 250);
    border: 1px solid rgb(1, 1, 194);
    color: white;
    margin-top: 5em;
    padding: 0.5em 2em;
    border-radius: 15px;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
}

.next-button:hover {
    cursor: pointer;
    background-color: rgb(27, 27, 166);
   
}

.but {
    padding: 0.5em 5em;
    background-color: grey;
    border: 1px solid rgb(108, 107, 107);
    border-radius: 6px;
    margin-right: 2em;
    color: rgb(240, 237, 237);
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    box-shadow: 2px 2px 1px #b8b8b8;
}

.but:hover {
    cursor: pointer;
    background-color: rgb(221, 220, 220);
    color: black;
}

.greenBG {
    background-color: green;
}

.hoverOption {
    background-color: rgb(4, 113, 135);
}
