.header {
    background-color: aqua;
    display: flex;
    line-height: 1rem;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    width: 100%;
}

.headTitle {
    padding-left: 2em;
}

.subHeader {
    margin-top: -0.4em;
    padding-left: 2em;
}