.but {
    padding: 0.5em 5em;
    background-color: grey;
    border: 1px solid rgb(108, 107, 107);
    border-radius: 6px;
    margin-right: 2em;
    color: rgb(240, 237, 237);
}

.but:hover {
    cursor: pointer;
    background-color: rgb(78, 78, 78);
}